In [1]:
import pandas as pd

file_path = "C:\\Users\\mmadh\\Videos\\Business Quant\\Day_4\\"
print('Loading csv file...')

df1 = pd.read_csv(file_path+'Unpivoted File.csv', low_memory=False)

# Creating new dataframe with needed columns
print('Creating new data frame with needed columns..')
df2 = df1[['Industry', 'dimension', 'Category', 'Value']]

Loading csv file...
Creating new data frame with needed columns..

In [2]:
# Grouping accordingly
print("Grouping by columns: 'Industry', 'Dimention' and 'Category' and also calculating the Median using the column 'Value'.")

Grouping by columns: 'Industry', 'Dimention' and 'Category' and also calculating the Median using the column 'Value'.

In [4]:
df3 = df2.groupby(['Industry','dimension','Category']).Value.agg(['median'])

In [5]:
df3['isdelimited'] = 'N'

In [6]:
df3

                                                                                 median  \
Industry             dimension Category
Advertising Agencies Annual    Accounts Payables                           3.359608e+07
                               Accumulated Other Comprehensive Income      0.000000e+00
                               Asset Turnover Ratio                        5.910000e-01
                               Asset Utilization Ratio                     5.220378e-01
                               Assets Non-Current                          2.958291e+08
...                                                                                 ...
Waste Management     TTM       Total Dividends & Other Cash Distributions  0.000000e+00
                               Total Liabilities                           3.311875e+08
                               Total Operating Expenses                    1.123945e+08
                               Total Receivables                           6.338200e+07
                               Working Capital                             1.147827e+07

                                                                          isdelimited
Industry             dimension Category
Advertising Agencies Annual    Accounts Payables                                    N
                               Accumulated Other Comprehensive Income               N
                               Asset Turnover Ratio                                 N
                               Asset Utilization Ratio                              N
                               Assets Non-Current                                   N
...                                                                               ...
Waste Management     TTM       Total Dividends & Other Cash Distributions           N
                               Total Liabilities                                    N
                               Total Operating Expenses                             N
                               Total Receivables                                    N
                               Working Capital                                      N

[63504 rows x 2 columns]

In [8]:
# # Saving new csv file with Median Calculation
print('Saving new csv file...')
df3.to_csv(file_path+'filtered_Median.csv')

Saving new csv file...